.HeaderPicture {
  margin: 0 12.5px;
  text-align: center;
  height: inherit;
  vertical-align: middle;
}

.HeaderText {
  height: inherit;
  vertical-align: middle;
  text-align: left;
}

.HeaderCheckMark {
  width: 10%;
  height: inherit;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  .CheckMark {
    width: 40%;
    height: 40%;
    margin: auto;
  }
}
