@import '../../colors.scss';

.Switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.Switch input { display:none; }

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Slider {
  background-color: $elementColor;
}

input:focus + .Slider {
  box-shadow: 0 0 1px $elementColor;
}

input:checked + .Slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.Slider.Round {
  border-radius: 24px;
}

.Slider.Round:before {
  border-radius: 50%;
}
