@import '../../colors.scss';

.ClickablePicture {
  height: 10em;

  & img {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    backface-visibility: hidden;
  }
}

.ClickablePicture img:hover {
  cursor: pointer;
  opacity: 0.3;
}

.ToggleCheckMark {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0.3em;
}

.ToggleCheckMark:hover {
  cursor: pointer;
  background-color: $highlightColor;
  border-radius: 0.5em;
}
