@import "../../colors.scss";

.MenuEntry {
    display: inline-flex;
    height: 100%;
    margin: auto 0.3em;
    align-items: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    input {
      color: white !important;
    }

    input[type="text"] {
      border-bottom: 1px dashed white !important;
    }

    input[type="text"]:focus {
      border-bottom: 1px dashed $elementColor !important;
    }

    & > a {
        height: 100%;
        width: 100%;
        padding: 0 1em;
        text-decoration: none;
    }

    & > a > p {
        color: white;
        font-size: 1.3em;
        line-height: 4.75em;
        margin: auto;
        vertical-align: middle;
    }
}

.MenuEntry:not(.Search):hover {
    background: rgba(91, 162, 255, 0.6);
}

.MenuEntry:not(.Search):active {
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    background: rgba(91, 162, 255, 1);
}
