$mainColor: #4D48FF;
$darkMainColor: #194091;
$softMainColor: #3973BF;

$darkColor: #333333;
$mediumDarkColor: #35393d;
$darkShadeColor: #292C33;
$lightShadeColor: #31353D;

$modalMainColor: #495C70;

$elementColor: $softMainColor;
$secondaryElementColor: #6B6B99;
$shadowColor: #111;

$alertTitleColor: #F75C4C;
$alertBodyColor: #C84133;
$successTitleColor: #2ECC71;
$successBodyColor: #27AE60;
