$mainColor: #4D48FF;
$darkMainColor: #194091;
$softMainColor: #5ba2ff;

$darkColor: #333333;
$mediumDarkColor: #35393d;
$darkShadeColor: #292C33;
$lightShadeColor: #31353D;

$modalDarkColor: #495C70;
$modalLightColor: #F7F7F7;
$modalSecondaryColor: #2A3541;

$textDarkerColor: #394C60;
$textDarkColor: #495C70;
$textLightColor: #CFCFCF;

$elementColor: $softMainColor;
$secondaryElementColor: #ccace2;
$redElementColor: #ff6666;

$shadowColor: #111;
$highlightColor: #83A4C5;

$alertLightColor: #ff6666;
$alertDarkColor: #d15454;
$successLightColor: #6be075;
$successDarkColor: #5fc768;
$infoLightColor: #5ba2ff;
$infoDarkColor: #4b85d1;
$warningLightColor: #ffb656;
$warningDarkColor: #d19647;
