$mainColor: #4D48FF;
$darkMainColor: #194091;
$softMainColor: #3973BF;

$darkColor: #333333;
$mediumDarkColor: #35393d;
$darkShadeColor: #292C33;
$lightShadeColor: #31353D;

$modalDarkColor: #495C70;
$modalLightColor: #F7F7F7;
$modalSecondaryColor: #2A3541;

$textDarkColor: #495C70;
$textLightColor: #CFCFCF;

$elementColor: $softMainColor;
$secondaryElementColor: #6B6B99;
$redElementColor: #BC6060;

$shadowColor: #111;
$highlightColor: #83A4C5;

$alertTitleColor: #F75C4C;
$alertBodyColor: #C84133;
$successTitleColor: #2ECC71;
$successBodyColor: #27AE60;
$infoTitleColor: #3498DB;
$infoBodyColor: #2980B9;
