$mainColor: #4D48FF;
$darkMainColor: #194091;
$softMainColor: #5ba2ff;

$darkColor: #333333;
$mediumDarkColor: #35393d;
$darkShadeColor: #292C33;
$lightShadeColor: #31353D;

$modalDarkColor: #495C70;
$modalLightColor: #F7F7F7;
$modalSecondaryColor: #2A3541;

$textDarkerColor: #394C60;
$textDarkColor: #495C70;
$textLightColor: #CFCFCF;

$elementColor: $softMainColor;
$secondaryElementColor: #ccace2;
$redElementColor: #ff6666;

$shadowColor: #111;
$highlightColor: #83A4C5;

$alertLightColor: rgba(255,102,102,0.1);
$alertDarkColor: #ff6666;
$successLightColor: rgba(107,224,117,0.1);
$successDarkColor: #6be075;
$infoLightColor: rgba(91,162,255, 0.1);
$infoDarkColor: #5ba2ff;
$warningLightColor: rgba(255,182,86, 0.1);
$warningDarkColor: #ffb656;
