@font-face {
  font-family: 'bariol';
  src: url('../fonts/bariol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariol';
  src: url('../fonts/bariol_italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'aller';
  src: url('../fonts/aller.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
