@import './fonts.scss';
@import './main/menu/main.scss';
@import './main/layout.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  opacity: 1 !important;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
}
strong {
 font-weight: bold;
}

// USER Styles

html, body, #app {
  height: 100%;

  & > div {
    height: calc(100% - (#{$footerHeight} + #{$menuHeight}));
  }
}

p { line-height: 1.2em; }

p.Tiny { font-size: 0.8em; }
p.ExtraSmall { font-size: 0.9em; }
p.Small { font-size: 1em; }
p.SmallMedium { font-size: 1.2em; }
p.Medium { font-size: 1.5em; }
p.Large { font-size: 2em; }
.Bold { font-weight: bold; }
.Italic { font-style: italic; }
p.LineSpaced { line-height: 2em; }
p.Spaced { padding: 0.5em; }
p.MultiLineTextOverflow { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
p.MultiLineLargeTextOverflow { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
p.TextOverflow { text-overflow: ellipsis; white-space: nowrap; }
.OverflowHidden { overflow: hidden; }
p.Vertical { vertical-align: middle; }
p.Red { color: $alertLightColor; }
p.Blue { color: $infoLightColor; }
p.Green { color: $successLightColor; }
p.White { color: white; }
p.Underline { text-decoration: underline; }

.Box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.H80 { height: 80% !important; }
.H20 { height: 20% !important; }
.W40E { width: 40em; }


.BackgroundMarker {
  div {
    margin: 0.5em;
  }

  background-color: black;
  color: white;
  opacity: 0.7;
  font-size: 16px;
  width: 20em !important;
  max-height: 10em;
  overflow: scroll;
  display: inline-block;
  z-index: 1200 !important;
  top: -1em;
  left: -1em;
  position: relative;
  text-align: center;
}
.checkedStar {
    color: orange;
}

.DashedDivider { border-top: 1px dashed #828282; margin: 0 !important; }
.AllowOverflow { overflow: visible !important; }
*:focus { outline: none; }
.Padding { padding: 0.5em !important; }
.Hidden { display: none !important; }
.SoftHidden { display: none; }
.FullTransparent { opacity: 0; }
.Inline { display: inline; }
.Inline-Block { display: inline-block; }
.Inline-BlockImportant { display: inline-block !important; }
.Block { display: block !important; }
.HeightNone { height: 0; }
.HeightFull { height: 100%; }
.WidthFull { width: 100%; }
.WidthFullImportant { width: 100% !important; }
.Left { text-align: left; }
.Right { text-align: right; }
.Center { text-align: center; }
.NoTransition { transition-duration: 0s; }
.BorderRadius { border-radius: 0.4em; }
.NoRadius { border-radius: 0 !important; }
.Clickable { cursor: pointer; }
.MarginAuto { margin: auto; }
.Margin { margin: 0.5em !important; }
.DecorationNone { text-decoration: none; }
