@import '../_colors.scss';

.InlineFormContainer {
  text-align: center;
  font-family: bariol;
  display: inline;
}

.LayoutContainer, .InlineFormContainer {
  input, textarea {
    font-family: bariol;
    font-size: 1em;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  input[type="submit"] {
    border: 0;
    border-radius: 0.3em;
    padding: 0.4em 1.5em;
    margin: 1em;
    color: white;
    background-color: $elementColor;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  input[type="submit"]:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:    0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow:         0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }

  input[type="email"], input[type="password"], input[type="text"], input[type="tel"], textarea {
    width: 20em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    border-bottom: 1px dashed $highlightColor;
    z-index: 1;
  }

  textarea {
    resize: vertical;
  }
}

.FormWrapper {
  margin: 0 0;
}

.FormElement {
  display: inline-block;
}
