@import '../_colors.scss';

p {
    font-family: bariol !important;
}

.MainMenuWrapper {
    height: 6em;
    background-color: $darkHighlightColor;
}

.MenuElement {
    display: inline;
    float: left;
    height: 100%;
}
