@import '../../_colors.scss';

.MenuEntry {
    display: inline-flex;
    height: 100%;
    margin: auto 0.3em;
    align-items: center;
}

.MenuEntry > a {
    padding: 0.4em 1em;
    border-radius: 0.2em;
    text-decoration: none;
}

.MenuEntry > a:hover {
    background-color: $elementColor;
}

.MenuEntry > a > p {
    color: white;
}
