@import '../../_colors.scss';

.LayoutContainer {
  text-align: center;
  font-family: bariol;
  display: block;
  padding: 2em;
  width: 40em;
  margin: 5em auto;
  background-color: $modalMainColor;
  -moz-box-shadow: 0 0 6px black;
	-webkit-box-shadow: 0 0 6px black;
	box-shadow: 0 0 6px black;
  border: 1px solid #555;
  border-radius: 0.1em;

  .Title {
    margin-bottom: 1em;
    font-size: 1.8em;
    color: white;
  }
}
