@import '../colors.scss';

$headerWidth: 4em;
$borderWidth: 0.5em;


.Information {
  overflow: hidden;
  display: flex;
  width: 100%;
  border-radius: 0.2em;
  color: black;
  margin: 1em 0;

  .Header {
    display: inline-flex;
    padding: 0.1em 0;
    float: left;
    width: $borderWidth;
  }

  .Content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: calc(100% - #{$borderWidth});
    flex: 1;

    p {
      margin: 0.8em;
      font-style: italic;
      line-height: 1.3em;
      font-size: 0.9em;
    }
  }
}

.Information.WithClose {
  .Header {
    width: $headerWidth;

    & > span {
      margin: auto;
      cursor: pointer;
      color: $textDarkColor;
      border: 1px solid $textDarkColor;
      padding: 0.3em;
      border-radius: 0.3em;
    }

    & > span:hover {
      color: white;
      border: 1px solid white;
    }

  }

  .Content {
    width: calc(100% - #{$headerWidth});
  }
}

.Information.Small { width: 20em; }
.Information.Medium { width: 40em; }
.Information.Large { width: 60em; }
.Information.Auto { width: fit-content; }
.Information.LineSpaced { margin: 2em auto; }
.Information.LineTight { margin: 0.4em auto; }

.Information.Success {
  .Content { background-color: $successLightColor; }
  .Header { background-color: $successDarkColor; }
}

.Information.Warning {
  .Content { background-color: $warningLightColor; }
  .Header { background-color: $warningDarkColor; }
}

.Information.Info {
  .Content { background-color: $infoLightColor; }
  .Header { background-color: $infoDarkColor; }
}

.Information.Alert {
  .Content { background-color: $alertLightColor; }
  .Header { background-color: $alertDarkColor; }
}
