@import '../colors.scss';

$layoutPadding: 2em;

div.LineContainer.Small {
  height: 2em;
  margin: 1.5em;

  .CheckMark {
    display: inline-block;
    height: inherit;
    width: 2em;
    vertical-align: sub;
  }
}

.Panel {
  display: block;
  width: 40em;
  margin: 5em auto;
  -moz-box-shadow: 0 0 6px black;
	-webkit-box-shadow: 0 0 6px black;
	box-shadow: 0 0 6px black;
  border: 1px solid #555;
  border-radius: 0.1em;
}

.Layout {
  text-align: center;
  font-family: bariol;
  padding: $layoutPadding;

  .Title {
    margin: 0.5em 0;
    font-size: 1.8em;
  }

  .SubTitle {
    margin: -0.3em 0 1.5em 0;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
  }

  .Picture {
    margin: auto;
    height: inherit;

    & > img {
      margin: auto;
      height: 100%;
      width: auto;
      display: block;
    }

  }

  .Picture.WidthLimited {
    width: inherit;

    & > img {
      height: auto;
      width: 100%;
    }
  }

  .Picture.HeightLimited {
    height: inherit;

    & > img {
      height: 100%;
      width: auto;
    }
  }

  .Text {
    font-size: 1em;

    & > p {
      padding: 0.1em;
    }
  }

  hr.Divider {
    margin: -#{$layoutPadding} -#{$layoutPadding} $layoutPadding -#{$layoutPadding};
    display: block;
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $modalSecondaryColor, rgba(0, 0, 0, 0));
  }

  hr.Overlay {
    margin: -#{$layoutPadding} -#{$layoutPadding} $layoutPadding -#{$layoutPadding};
    display: block;
    clear: both;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -10px rgba(0, 0, 0, 0.5);
  }

  hr.SpacedDivider {
    @extend hr.Divider;
    margin: 2em -#{$layoutPadding};
  }

  hr.SpacedOverlay {
    @extend hr.Overlay;
    margin: 2em -#{$layoutPadding};
  }
}

.LayoutHeader {
  width: 100%;
  height: 4em;

  .Title {
    height: auto;
    margin: 0;
  }
}

$layoutPadding: 2em;

.Panel.OuterTight {
  margin: 1em auto;
}

.Tight {
  padding: #{$layoutPadding / 2};

  hr.SpacedDivider, hr.SpacedOverlay {
    margin: 1em -#{$layoutPadding / 2};
  }

  hr.Divider, hr.Overlay {
    margin: -#{$layoutPadding / 2} -#{$layoutPadding / 2};
  }

  input[type="submit"] {
    margin: 0.6em;
  }
}

.NoWrap { margin: 0 auto; padding: 0; }

.LayoutHomeLeft {
  border: 3px solid black;
  width: 45%;
  height: auto;
  float: left;

  .Title, .Text {
    color: gray;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: gray;
  }

  input[type="submit"] {
    color: blue;
  }
}

.LayoutHomeRight {
  border: 3px solid black;
  width: 45%;
  height: auto;
  float: right;

  .Title, .Text {
    color: gray;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: gray;
  }

  input[type="submit"] {
    color: blue;
  }
}

.LayoutFooterLeft {
  width: 25%;
  float: left;

  .Title, .Text {
    color: gray;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: gray;
  }

  input[type="submit"] {
    color: blue;
  }
}

.LayoutFooterCenter {
  width: 30%;
  margin: auto;
  border-left: 1px solid $modalLightColor;
  border-right: 1px solid $modalLightColor;

  .Title, .Text {
    color: gray;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: gray;
  }

  input[type="submit"] {
    color: blue;
  }
}

.LayoutFooterRight {
  margin-top: -11%;
  width: 25%;
  float: right;

  .Title, .Text {
    color: gray;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: gray;
  }

  input[type="submit"] {
    color: blue;
  }
}

.LayoutLight {
  background-color: $modalLightColor;

  .Title, .Text {
    color: black;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: black;
  }

  input[type="submit"] {
    color: white;
  }
}

.LayoutBlank {
  @extend .LayoutLight;
  background-color: white;
}

.LayoutDark {
  background-color: $modalDarkColor;

  .Title, .Text {
    color: white;
  }

  .SubTitle {
    color: $textLightColor;
  }

  input, textarea {
    color: white;

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  input[type="submit"] {
    color: black;
  }
}

.LayoutGray {
  @extend .LayoutDark;
  background-color: $modalSecondaryColor;
}

.LayoutFooter {
  @extend .LayoutDark;
  background-color: $darkShadeColor;
}
