@import '../colors.scss';

$layoutPadding: 2em;

.Button {
  border: 0;
  border-radius: 0.3em;
  padding: 0.4em 1.5em;
  min-width: 1em;
  margin: 0.6em auto;
  text-align: center;
  cursor: pointer;
  background-color: $secondaryElementColor;
  font-family: bariol;
  font-size: 1em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.ShadowedButton {
  @extend .Button;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ShadowedButton:hover {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow:    0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  box-shadow:         0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.Panel {
  display: block;
  width: 40em;
  margin: 5em auto;
  -moz-box-shadow: 0 0 6px black;
	-webkit-box-shadow: 0 0 6px black;
	box-shadow: 0 0 6px black;
  border: 1px solid #555;
  border-radius: 0.1em;
}

.Layout {
  text-align: center;
  font-family: bariol;
  padding: $layoutPadding;

  .Title {
    margin: 0.5em 0 1.5em 0;
    font-size: 1.8em;
  }

  .SubTitle {
    margin: -0.3em 0 1.5em 0;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
  }

  .Picture {
    margin: auto;
    height: inherit;

    & > img {
      margin: auto;
      height: 100%;
      width: auto;
      display: block;
    }

  }

  .Text {
    font-size: 1em;

    & > p {
      padding: 0.1em;
    }
  }

  hr.Divider {
    display: block;
    clear: both;
    margin: 2em -#{$layoutPadding};
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $modalSecondaryColor, rgba(0, 0, 0, 0));
  }

  hr.Overlay {
    display: block;
    clear: both;
    margin: 2em -#{$layoutPadding};
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -10px rgba(0, 0, 0, 0.5);
  }
}

.Tight {
  padding: #{$layoutPadding / 2};

  hr.Divider, hr.Overlay {
    margin: 1em -#{$layoutPadding / 2};
  }

  .Title {
    margin: 0.3em 0 1em 0;
  }

  input[type="submit"] {
    margin: 0.3em;
  }
}

.LayoutLight {
  background-color: $modalLightColor;

  .Title, .Text {
    color: black;
  }

  .SubTitle {
    color: $textDarkColor;
  }

  input, textarea {
    color: black;
  }

  input[type="submit"] {
    color: white;
  }
}

.LayoutDark {
  background-color: $modalDarkColor;

  .Title, .Text {
    color: white;
  }

  .SubTitle {
    color: $textLightColor;
  }

  input, textarea {
    color: white;
  }

  input[type="submit"] {
    color: black;
  }
}

.LayoutHeader {
  width: 100%;
  height: 4em;

  .Title {
    height: auto;
    margin: 0;
  }
}

.HeaderPicture {
  width: 20%;
  text-align: center;
  height: inherit;
  vertical-align: middle;
}

.HeaderText {
  width: 70%;
  height: inherit;
  vertical-align: middle;
  text-align: left;
}

.HeaderCheckMark {
  width: 10%;
  height: inherit;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  .CheckMark {
    width: 40%;
    height: 40%;
    margin: auto;
  }
}
