@import '../colors.scss';

$wideListWidth: 80%;
$compactListWidth: 60%;

.ListContainer {
  text-align: center;
}

.Lister {
  margin: 4em 0;

  .List {
    width: $compactListWidth;
  }
}

.List {
  width: $wideListWidth;
  margin: auto 0;
  display: inline-block;

  .Element {
    margin: 0.8em 0;
    overflow: hidden;
    padding: 1em;
    background-color: $modalLightColor;
    border-radius: 0.2em;
    -moz-box-shadow: 0 0 4px black;
    -webkit-box-shadow: 0 0 4px black;
    box-shadow: 0 0 4px black;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }

  .Element.Tiny { width: 10%; }
  .Element.Small { width: 20%; }
  .Element.Medium { width: 30%; }
  .Element.Large { width: 40%; }
  .Element.Auto { width: auto; max-width: 100%; }
  .Element.Tight { padding: 0; }
  .Element.Tighter { padding: 0.3em; }
  .Element.Clickable:hover {
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
  }
}

.ListGrid {
  .Element {
    display: inline-block;
    width: auto;
    margin: 0.8em;
  }
}

.ListStack {
  .Element {
    display: block;
  }
}
