@import '../colors.scss';

$wideListWidth: 80%;
$compactListWidth: 60%;
$elementBorderRadius: 0.2em;

.ListContainer {
  text-align: center;
}

.Lister {
  margin: 4em 0;

  .List {
    width: $compactListWidth;
  }
}

.List {
  width: $wideListWidth;
  margin: auto 0;
  display: inline-block;

  .Element {
    margin: 0.8em 0;
    overflow: hidden;
    padding: 1em;
    background-color: $modalLightColor;
    border-radius: $elementBorderRadius;
    -moz-box-shadow: 0 0 4px black;
    -webkit-box-shadow: 0 0 4px black;
    box-shadow: 0 0 4px black;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }

  .Element.Tiny { width: 10%; }
  .Element.W15 { width: 15%; }
  .Element.Small { width: 20%; }
  .Element.Medium { width: 30%; }
  .Element.Large { width: 40%; }
  .Element.Half { width: 50%; }
  .Element.W10 { width: 10%; }
  .Element.W20 { width: 20%; }
  .Element.W30 { width: 30%; }
  .Element.W40 { width: 40%; }
  .Element.W50 { width: 50%; }
  .Element.W60 { width: 60%; }
  .Element.W70 { width: 70%; }
  .Element.W80 { width: 80%; }
  .Element.W85 { width: 85%; }
  .Element.W90 { width: 90%; }
  .Element.Auto { width: auto; max-width: 100%; }
  .Element.Tight { padding: 0; }
  .Element.Tighter { padding: 0.3em; }
  .Element.AutoWidthContent { width: fit-content; }
  .Element.MarginAuto { margin-left: auto; margin-right: auto; }
  .Element.NoWrap { margin: 0; }
  .Element.SmallMargin { margin: 0.2em; }
  .Element.NoHorizontalWrap { margin-left: 0; margin-right: 0; }
  .Element.MarginTop { margin-top: 0.8em; margin-bottom: 0; }
  .Element.Top { vertical-align: top; }
  .Element.Transparent {
    background-color: rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 black;
    -webkit-box-shadow: 0 0 0 black;
    box-shadow: 0 0 0 black;
  }
  .Element.Clickable:hover {
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
  }
}

.List.Small { width: 40%; }
.List.Medium { width: 50%; }
.List.Large { width: 60%; }
.List.Wide { width: 80%; }

.ListGrid {
  .Element {
    display: inline-block;
    width: auto;
    margin: 0.8em;
  }
}

.ListStack {
  .Element {
    display: block;
  }
}

.Height30 {
  height: 30em;
}

.Height20 {
  height: 20em;
}
