@import '../colors.scss';

.Message {
  border-radius: 0.4em;
  overflow: hidden;

  a {
    color: $infoLightColor;
  }
}

.MessageCenter { margin-left: auto; margin-right: auto; }

.TopMargin {
  margin-top: 1em;
}

.TopMarginImportant {
  margin-top: 1em !important;
}

.Success {
  .MessageTitle {
    background-color: $successDarkColor;
  }

  .MessageContent {
    background-color: $successLightColor;
  }
}

.SuccessLight {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);

  .MessageTitle {
    background-color: $successLightColor;
  }

  .MessageContent {
    color: black;
  }
}

.NeutralLight {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'bariol';

  .MessageTitle {
    background-color: $modalSecondaryColor;
    color: white;
  }

  .MessageContent {
    color: black;
  }
}

.InfoLight {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);

  .MessageTitle {
    background-color: $infoLightColor;
  }

  .MessageContent {
    color: black;
  }
}

.Alert {
  .MessageTitle {
    background-color: $alertDarkColor;
  }

  .MessageContent {
    background-color: $alertLightColor;
  }
}

.Info {
  .MessageTitle {
    background-color: $infoDarkColor;
  }

  .MessageContent {
    background-color: $infoLightColor;
  }
}

.Notif {
  .MessageTitle {
    background-color: $textDarkerColor;
    color: white;
  }

  .MessageContent {
    background-color: $modalSecondaryColor;
    color: white;
  }
}

.Message.Auto { width: 100%; }
.Message.Small { width: 20em; }
.Message.Medium { width: 40em; }
.Message.Large { width: 60em; }

.MessageTitle {
  padding: 0.7em;
  font-size: 1em;
  color: black;
}

.MessageContent {
  padding: 1.2em;
  font-size: 0.9em;
  font-style: italic;
  color: black;
}

.Tight .MessageTitle {
  padding: 0.4em;
}

.Tight .MessageContent {
  padding: 0.7em;
}
