@import '../colors.scss';

.Message {
  border-radius: 0.4em;
  overflow: hidden;
}

.Success {
  .MessageTitle {
    background-color: $successTitleColor;
  }

  .MessageContent {
    background-color: $successBodyColor;
  }
}

.Alert {
  .MessageTitle {
    background-color: $alertTitleColor;
  }

  .MessageContent {
    background-color: $alertBodyColor;
  }
}

.Info {
  .MessageTitle {
    background-color: $infoTitleColor;
  }

  .MessageContent {
    background-color: $infoBodyColor;
  }
}

.Message.Small { width: 20em; }
.Message.Medium { width: 40em; }
.Message.Large { width: 60em; }

.MessageTitle {
  padding: 0.7em;
  font-size: 1em;
  font-style: italic;
}

.MessageContent {
  padding: 1.2em;
  font-size: 1.1em;
  color: white;
}

.Tight .MessageTitle {
  padding: 0.4em;
}

.Tight .MessageContent {
  padding: 0.7em;
}
