@import '../colors.scss';

.Pay {
}

.CardPreview {
  margin: 1em 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  border-radius: 0.4em;
  color: black;
  background-color: white;
  padding: 1em;
}

.CardPreview:hover {
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow:    0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
  box-shadow:         0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);

  .DeleteAction {
    display: block;
  }
}

.NewCard {
  margin: 1em 0;
  border-radius: 0.4em;
  background-color: $modalSecondaryColor;
  padding: 0.5em;

  .SubTitle {
    color: $textLightColor;
  }

  input {
    color: white;
  }
}
