@import "../colors.scss";

.MainContent {
  min-height: 100%;
}

$footerHeight: 11em;

.Footer {
  width: 100%;
  height: $footerHeight;
  background-color: $modalDarkColor;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }

  .FollowUs {
    ul {
      padding: 0;
      margin: 0;
      text-align: center;
    }
    li {
      display: inline;
  	  list-style: none;
      a {
        display:inline-block;
        margin: 0 5px;
      }
      a:hover {
        background-color: $modalLightColor;
      }
    }
  }
}
