@import "../colors.scss";

.Title.Clickable {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.4em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.Title.Clickable:hover {
  cursor: pointer;
  border-radius: 0.2em;
  color: white;
  background-color: $modalSecondaryColor;
  -moz-box-shadow: 0 0 4px black;
  -webkit-box-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black;
}

.AdvertPreview {
  height: 8em;

  .CheckMark {
    width: 1.5em;
    margin-right: 1em;
    vertical-align: sub;
  }

  .PictureSection {
    display: inline-block;
    height: inherit;

    .Picture {
      height: 100%;

      img {
        color: transparent;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .AvatarSection {
    .Picture {
      height: 100%;

      img {
        color: transparent;
        border-radius: 0.2em;
        margin: auto;
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: 50% 50%;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
      }

      img:hover {
        -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
        -moz-box-shadow:    0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
        box-shadow:         0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
      }
    }
  }

  .DescriptionSection {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
  }
}

.OwnerAdvertPreview, .AdvertPreview {
  position: relative;

  .CheckMark {
    display: inline-block;
  }

  .PictureSection {
    display: inline-block;
    height: inherit;

    .Picture {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .AvatarSection {
    .Picture {
      height: 100%;

      img {
        border-radius: 0.2em;
        margin: auto;
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: 50% 50%;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow:         0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.1);
      }

      img:hover {
        -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
        -moz-box-shadow:    0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
        box-shadow:         0 0 14px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.22);
      }
    }
  }

  .DescriptionSection {
    padding: 0.8em;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;

    p {
      margin: 0 0.2em;
    }
  }
}

.OwnerAdvertPreview:hover {
  .DeleteAction {
    display: block;
  }
}
