@import "../colors.scss";

.VisitPreview {
  height: 9em;
  display: flex;

  .DescriptionSection, .Picture { height: inherit; }

  .DescriptionSection {
    overflow: hidden;
    flex: 1;
    padding: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    p {
      margin: 0 0.2em;
    }
  }
}

.VisitToReview {
  height: 9.5em;
  display: flex;
  width: fit-content;
  justify-content: center;

  .Picture { margin: 0; }

  .DescriptionSection {
    padding: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    p {
      margin: 0 0.2em;
    }
  }
}
